<% if (theme.duoshuo){ %>
<div class="widget recent_visitors">
  <h3 class="title"><%= __('recent_visitors') %></h3>
  <ul class="entry ds-recent-visitors" data-num-items="10"></ul>
  <%- partial('util/loadDuoShuoJS') %>
</div>
<% } %>