// Width
page-width = 960px

// Color
color-background = #f0f0f0
color-font = #666
color-meta = #999
color-border = #ddd
color-link = #1ba1e2

// Font
font-default = 'Helvetica Neue', Helvetica, Arial, sans-serif
font-serif = 'Georgia', serif
font-mono = Monaco, Consolas, 'Lucida Console', monospace
font-title = 'Helvetica Neue', Helvetica, Arial, sans-serif

/*
被墙，或者速度极慢
@import url('//fonts.googleapis.com/css?family=Lato:400,400italic')
*/
@import url('//fonts.useso.com/css?family=Lato:400,400italic')

font-icon = FontAwesome
font-icon-path = '/fonts/fontawesome-webfont'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}

@font-face {
  font-family 'Press Start 2P'
  font-style normal
  font-weight 400
  src local('Press Start 2P'), local('PressStart2P-Regular'), url(http://fontsta.sh/font/pressstart2p/PressStart2P-Regular.ttf) format('truetype'), url(http://fontsta.sh/font/pressstart2p/PressStart2P-Regular.woff) format('woff'), url(http://fontsta.sh/font/pressstart2p/PressStart2P-Regular.eot) format('embedded-opentype')
}

@font-face {
  font-family 'Droid Sans Mono'
  font-style normal
  font-weight 400
  src local('Droid Sans Mono'), local('DroidSansMono'), url(http://fontsta.sh/font/droidsansmono/DroidSansMono.ttf) format('truetype'), url(http://fontsta.sh/font/droidsansmono/DroidSansMono.woff) format('woff'), url(http://fontsta.sh/font/droidsansmono/DroidSansMono.eot) format('embedded-opentype')
}

