<% if (post.layout === 'post'){ %>
<aside id="topic-list" class="alignright">
	<h3 class="title">目录</h3>
	<div class="topic-tree"></div>
</aside>
<script charset="utf-8" src="<%- config.root %>js/topic-list.js"></script>
<% } %>