<% if (post.layout === 'post' || post.layout === 'link'){ %>
<aside id="topic-list" class="alignright topic-list">
    <h3 class="title">内容</h3>

    <div class="topic-tree">

    </div>
    <div class="topic-progress"></div>
</aside>
<% } %>