.post-comment
  margin-bottom 50px
  position relative

  .title
    font-size 22px
    line-height 50px
    position relative
    color #333
    padding-left 40px
    @media screen and (max-width: 600px)
      padding-left 0

  .ico-comment:before
	  content "\f086"
	  position absolute
	  left 0
	  font 32px FontAwesome
	  color #ababab
	  top 10px
	  @media screen and (max-width: 600px)
        content ""
        width 0
        height 0
        font-size 0
        line-height 0