#header
  clearfix()
  text-shadow 0 0 1px #fff
  margin 30px auto
  @media screen and (max-width: 600px)
    margin-bottom 20px
    .alignleft,.alignright
      float none
      display block
      text-align center

  a
    color color-font
    &:hover
      color color-link
      text-decoration none

  h1
    font-family 'Press Start 2P',cursive,'Microsoft YaHei',tahoma,sans-serif
    font-weight normal
    font-size 3em
    line-height 1

    a
      color #e2e2e2
      text-shadow #1BA1E2 1px 1px 0,#1BA1E2 -1px 1px 0,#1BA1E2 1px -1px 0,#1BA1E2 -1px -1px 0
      transition text-shadow 1s ease
      &:hover
        transition text-shadow 1s ease
        text-shadow rgba(51, 51, 51, 0.7) 10px 10px 10px

  h2
    font-weight normal
    font-size 1.1em
    line-height 1
    margin-top 10px
    color #999
    text-shadow 0 1px #ddd

  #main-nav
    clearfix()
    font-family font-title
    line-height 3.5em
    ul
      list-style none
      li
        float left
        margin 0 0 0 30px
        font-size 1.3em
    @media screen and (max-width: 600px)
      ul
        text-align center
        li
          float none
          display inline-block
          margin 0 8px